{% extends 'base.html' %}
{% block content %}
<br><br><br><br>
<div class="container" >
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">quantity</th>
      <th scope="col">Total Price </th>
    </tr>
  </thead>
  <tbody>
        {% for i in items %}
    <tr>

      <th scope="row"><img style="height: 100px;" src="{{i.Products.image.url}}"></th>
      <td>{{i.Products.name}}</td>
      <td>${{i.Products.price}}</td>
       <td> <div class="row p-2 " >

       <button data-product={{i.Products.id}} data-action="remove" class="btn btn-secondary p-0 m-1 update-cart"  ><</button>
         <p class="m-1" >{{i.quantity}}</p>

         <button data-product={{i.Products.id}} data-action="add" class="btn btn-secondary p-0 m-1 update-cart " >></button>

      </div>
</td>
      <td>{{i.get_total}}</td>

    </tr>
     {% endfor %}
        <tr>

      <td class="text-danger" colspan="4">Total</td>
      <td class="text-danger" >${{order.total_price}}</td>
    </tr>




  </tbody>
</table>
<div class="float-right" >

<a href="{% url 'shipping' %}" class="btn btn-success" >Checkout</a>
{% for m in messags %}
{{m}}
{% endfor %}

</div>

</div>
</div>
{% endblock %}
